* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
nav {
  width: 800px;
  margin: auto;
}
.container {
  width: 1100px;
  margin: 0 auto;
}
.pink-text {
  color: #f16d7f;
}
.header {
  display: flex;
  width: 100%;
  padding: 20px;
  align-items: center;
  border-bottom: darkgray 10px solid;
}
.header-style {
  position: relative;
  display: flex;
  align-items: center;
}
.header__logo {
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}
.header__logo_name {
  text-transform: uppercase;
  font-size: 1.5em;
}
.header__browse {
  margin-left: 30px;
  display: flex;
  align-items: stretch;
  border: 1px solid darkgray;
  border-radius: 2px;
}
.header__browse_dropdown {
  border: none;
  outline: none;
  background: #f0f0f0;
  padding-left: 5px;
}
.header__browse_search {
  width: 260px;
  border-radius: unset;
  border: 1px solid darkgray;
  border-top: none;
  border-bottom: none;
  padding-left: 10px;
}
.header__browse_search-button {
  padding: 7px 7px;
  border: none;
  cursor: pointer;
  background: white;
}
.header__browse_search-button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: darkgray;
}
.header__basket {
  width: 30px;
  height: 30px;
  margin-left: auto;
  text-decoration: none;
}
.header__basket:before {
  content: "\f07a";
  font-family: FontAwesome;
  font-size: 30px;
  color: black;
}
.header__account_dropdown {
  width: 110px;
  background: #f16d7f;
  color: white;
  border: none;
  border-radius: 0;
  margin-left: 15px;
  padding: 7px 5px 7px 12px;
}
.list {
  display: flex;
  width: 800px;
  padding: 10px 0;
  justify-content: space-evenly;
  align-items: center;
}
.list__item {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
}
.print {
  width: 100%;
  padding: 250px 0;
  overflow: hidden;
  background: url("../img/man.png") no-repeat 75% 0px #e6e6e6;
}
.print__text {
  position: relative;
  padding-left: 16px;
}
.print__text::before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 10%;
  right: 0;
  left: 0;
  width: 8px;
  background: #f16d7f;
}
.print__text_title {
  font-size: 2em;
  text-transform: uppercase;
}
.print__text_subtitle {
  text-transform: uppercase;
  font-size: 1.3em;
  font-weight: bold;
}
.print__image {
  position: absolute;
  top: 0;
  right: 0;
}
.banner-text {
  position: absolute;
}
