* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
nav {
  width: 800px;
  margin: auto;
}
a {
  color: black;
}
.container {
  width: 1140px;
  margin: 0 auto;
}
.pink-text {
  color: #f16d7f;
}
.absolute {
  position: absolute;
}
.header {
  display: flex;
  width: 100%;
  padding: 20px;
  align-items: center;
  border-bottom: darkgray 1px solid;
}
.header-style {
  position: relative;
  display: flex;
  align-items: center;
}
.header__logo {
  width: 125px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: black;
}
.header__logo_name {
  text-transform: uppercase;
  font-size: 1.5em;
}
.header__browse {
  margin-left: 30px;
  display: flex;
  align-items: stretch;
  border: 1px solid darkgray;
  border-radius: 2px;
}
.header__browse_dropdown {
  border: none;
  border-radius: 0;
  outline: none;
  background: #f0f0f0;
  padding-left: 5px;
}
.header__browse_search {
  width: 260px;
  border-radius: unset;
  border: 1px solid darkgray;
  border-top: none;
  border-bottom: none;
  padding-left: 10px;
}
.header__browse_search-button {
  padding: 7px 7px;
  border: none;
  cursor: pointer;
  background: white;
}
.header__browse_search-button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: darkgray;
}
.header__basket {
  width: 30px;
  height: 30px;
  margin-left: auto;
  text-decoration: none;
}
.header__basket:before {
  content: "\f07a";
  font-family: FontAwesome;
  font-size: 30px;
  color: black;
}
.header__account_dropdown {
  width: 110px;
  background: #f16d7f;
  color: white;
  border: none;
  border-radius: 0;
  margin-left: 15px;
  padding: 7px 5px 7px 12px;
}
.list {
  display: flex;
  width: 800px;
  padding: 15px 0;
  justify-content: space-evenly;
  align-items: center;
}
.list__item {
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
}
.print {
  width: 100%;
  padding: 250px 0;
  overflow: hidden;
  background: url("../img/man.png") no-repeat 75% 0px #e6e6e6;
}
.print__text {
  position: relative;
  padding-left: 23px;
}
.print__text::before {
  content: '';
  position: absolute;
  top: 10%;
  bottom: 8%;
  right: 0;
  left: 0;
  width: 12px;
  background: #f16d7f;
}
.print__text_title {
  font-size: 60px;
  text-transform: uppercase;
}
.print__text_subtitle {
  text-transform: uppercase;
  font-size: 40px;
  font-weight: bold;
}
.print__image {
  position: absolute;
  top: 0;
  right: 0;
}
.banner-text {
  position: absolute;
}
.category {
  margin-top: 70px;
  position: relative;
  height: 900px;
}
.category__banner-men {
  top: 0;
  left: 0;
}
.category__banner-women {
  top: 0;
  right: 0;
}
.category__banner-accesories {
  top: 562px;
  left: 0;
}
.category__banner-kids {
  top: 281px;
  right: 0;
}
.category__banner-text {
  position: absolute;
  background: white;
  padding: 10px 15px;
  top: 20px;
}
.category__banner_text_title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
}
.category__banner_text_subtitle {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 30px;
}
.product__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 54px;
}
.product__header_title {
  font-size: 30px;
}
.product__header_subtitle {
  font-size: 14px;
}
.product__plates {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
  justify-content: space-between;
}
.product__plates_item {
  margin: 20px 0;
  position: relative;
}
.loh {
  position: relative;
}
.product__plates_hover-block {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  display: none;
  padding-bottom: 70px;
  background: rgba(58, 56, 56, 0.83);
  text-align: center;
  border: 0;
}
.product__plates_button {
  font-size: 16px;
  color: white;
  background: none;
  margin-top: 100px;
  padding: 10px;
  border: 1px solid white;
  border-radius: 0;
}
.product__plates_button::before {
  content: "\f07a";
  font-family: FontAwesome;
  font-size: 30px;
  margin-right: 10px;
}
.product__plates_item_description {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 70px;
  padding-left: 15px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}
.product__plates_item:hover {
  box-shadow: 0 7px 10px rgba(0, 0, 0, 0.25);
}
.product__plates_item:hover .product__plates_hover-block {
  display: block;
}
.product__plates_item_description .pink-text {
  font-size: 16px;
}
