* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

nav {
  width: 800px;
  margin: auto;
}

a {
  color: black;
  text-decoration: none;
}

blockquote {
  position: relative;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.pink-text {
  color: rgb(241, 109, 127);
}

.absolute {
  position: absolute;
}

.bold {
  font-weight: bold;
}

@import "header";
@import "nav";
@import "print";
@import "category";
@import "product";
@import "hot-deals";
@import "subscribe";
@import "footer";
