* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

nav {
  width: 800px;
  margin: auto;
}

figure {
  position: absolute;
}

a {
  color: black;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.pink-text {
  color: rgb(241, 109, 127);
}

@import "header";
@import "nav";
@import "print";
@import "category";